@charset "UTF-8";
/**
*  counter.css  - written by Victor N - 22/Nov/2013 - www.vitim.us
* Repo: https://github.com/victornpb/analog-counter-wheel
*/

/* Analog Counter Wheel Layout */
.counter {
	display: inline-block;
	overflow: hidden;
	cursor: url('wheelcursor.png'), pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.counter .wheel {
	position: relative;
	
	display: table;
	text-align:center;
	cursor: inherit;
}

/* digits */
.counter .wheel div{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	cursor: inherit;
}
.counter .wheel div:nth-child(1){
	top: -100%;
}
.counter .wheel div:nth-child(2){
	top: 0;
}
.counter .wheel div:nth-child(3){
	top: 100%;
}
.counter .wheel.animate{
	transition: all ease 300ms;
}


/* default theme */
.counter{
	width: 50px;
	height: 80px;
	
	border: 2px inset #666;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.7),
						0px 2px 2px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.7),
						0px 2px 2px rgba(255,255,255,0.25);
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.7),
				0px 2px 2px rgba(255,255,255,0.25);
	
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #fefefe 34%, #fefefe 61%, #d1d1d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(34%,#fefefe), color-stop(61%,#fefefe), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#fefefe 34%,#fefefe 61%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e2e2e2 0%,#fefefe 34%,#fefefe 61%,#d1d1d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e2e2e2 0%,#fefefe 34%,#fefefe 61%,#d1d1d1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e2e2e2 0%,#fefefe 34%,#fefefe 61%,#d1d1d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

.counter .wheel{
	width: 50px;
	margin-top: 15px;
	
	line-height: 50px;
	height: 50px;
	
	font-size: 50px;

}
.counter .wheel .digit{
	border-top: 1px solid rgba(64,64,64,0.5);
	border-bottom: 1px solid rgba(128,128,128,0.5);
}

